<p>
  <a routerLink="/admin/products/create" class="btn btn-primary">New Product</a>
</p>

<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td> <img *ngIf="p.imageUrl" [src]="p.imageUrl" style="width: 3rem;" alt="no image yet"></td>
      <td> {{ p.name }} </td>
      <td> {{ p.price }} </td>
      <td> 
        <a [routerLink]="['/admin/products/', p.key]"> Edit </a> 
        <a (click)="deleteProduct(p.key)" id="delete-product"> | Delete </a> 
      </td>
    </tr> 
  </tbody>
</table>
